# VS Community
.vs/*
.vs/

# VS Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio 2015 database file
*.VC.db

# Hammer Editor
*.txt
*.vmx
*.log
*.bsp
*.prt
*.lin
